*
{
    margin: 0px;
    padding: 0px;
    --glowny-kolor-tla: #eaedf1;
    --glowny-kolor-div: #323a45;
    --glowny-kolor-napisy: #a2a9b1;
    --kolor-podswietlenie: #42ff00;
    --drugi-kolor-napisy: #eaedf1;
    --drugi-kolor-div: #222931;
    --kolor-podpisy: #5d636b;

}
body
{
    font-size: 14px;
    font-family: Calibri;
    background-color: var(--glowny-kolor-tla);
    margin: 47px;
    width: 100%;
}


#nawigacja_gorna
{
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--glowny-kolor-div);
    width: 758px;
    height: 54px;
    border-radius: 3px;
}
#nawigacja_gorna a
{
    color: var(--glowny-kolor-napisy);
    text-decoration: none;
    float: left;

}
div.pojemnik
{
    color: var(--drugi-kolor-napisy);
    display: block;
    padding-top: 13px;
    margin-left: 26px;
    border-right: 1px solid #434b55;
    width: 54px;
    height: 41px;

}


#nawigacja_gorna ul
{
    display: block;
    list-style-type: none;
    width: 330px;
    height: 100%;
    float: left;

}

#nawigacja_gorna ul li
{
    display: block;
    list-style-type: none;
    width: 82.5px;
    height: 54px;
    float: left;
    text-align: center;

}

#nawigacja_gorna ul li a
{
    color: var(--glowny-kolor-napisy);
    text-decoration: none;
    float: left;
    margin-top: 19px;
    width: 100%;
    height: 33px;

}
#nawigacja_gorna ul li a:hover
{
    color: var(--kolor-podswietlenie);
    font-weight: bold;
    border-bottom: 2px solid var(--kolor-podswietlenie);
}


#nawigacja_gorna a:nth-child(3)
{
    height: 32px;
    width: 40px;
    text-align: center;
    padding-top: 20px;
}
#nawigacja_gorna a:nth-child(4)
{
    height: 32px;
    margin-right: 19px;
    text-align: center;
    margin-left: 30px;
    padding-top: 20px;
}
#nawigacja_gorna a:nth-child(5)
{
    height: 32px;
    text-align: center;
    margin-right: 24px;
    padding-top: 20px;
}
#nawigacja_gorna a:nth-child(3):hover
{
    color: var(--kolor-podswietlenie);
    font-weight: bold;
    border-bottom: 2px solid var(--kolor-podswietlenie);
}
#nawigacja_gorna a:nth-child(4):hover
{
    color: var(--kolor-podswietlenie);
    font-weight: bold;
    border-bottom: 2px solid var(--kolor-podswietlenie);
}
#nawigacja_gorna a:nth-child(5):hover
{
    color: var(--kolor-podswietlenie);
    font-weight: bold;
    border-bottom: 2px solid var(--kolor-podswietlenie);
}

#nawigacja_gorna div.div_szukaj
{
    position: absolute;
    background-color: var(--drugi-kolor-div);
    height: 29px;
    width: 190px;
    right: 24px;
    top: 12px;
    border-radius: 3px;

}

#nawigacja_gorna div.div_szukaj i
{
    padding-right: 14px;
    padding-left: 14px;
    color: var(--kolor-podpisy);
    display: block;
    float: left;
    padding-top: 8px;
}


#nawigacja_gorna input[type="search" i]
{
    font-family: Calibri;
    margin-top: 8px;
    font-size: 12px;
    background-color: var(--drugi-kolor-div);
    color: var(--kolor-podpisy);
    border: none;
    float: left;
    width: 140px;
}

#nawigacja_gorna input[type="search" i]:focus
{
    color: var(--kolor-podswietlenie);
    border: 1px solid var(--kolor-podswietlenie);

}

#kontener
{
    margin-top: 47px;
    margin-right: auto;
    margin-left: auto;
    width: 758px;
    height: 100%;
}

aside#lewy
{

    display: block;
    width: 280px;
    border: 1px solid black;
    float: left;

}

aside#prawy
{
    position: relative;
    display: block;
    float: right;
    border: 1px solid black;
}

#social_konceter
{
    height: 110px;
    width: 280px;

}
#social_konceter .sociale
{
    width: 87px;
    height: 110px;
    background-color: var(--glowny-kolor-div);
    float: left;
    border-radius: 3px;
    color: var(--drugi-kolor-napisy);
    text-align: center;
    font-size: 11px;
}
#social_konceter a:nth-child(2) div.sociale
{
    margin-left: 9.5px;
    margin-right: 9.5px;

}

#social_konceter .sociale span
{
    font-size: 14px;
}

#social_konceter .sociale .kolo_w_social
{
    margin-top: 16px;
    margin-left: 23px;
    width: 41px;
    height: 41px;
    border-radius: 90px;
    background-color: var(--drugi-kolor-div);
    text-align: center;
}
#social_konceter .sociale:hover
{
    color: var(--kolor-podswietlenie);
}
#social_konceter .sociale .kolo_w_social i
{
    margin-top: 13px;
    font-size: 15px;
}

#logowanie_sekcja
{
    margin-top: 32px;
   /* height: 159px; */
    width: 280px;
}

#logowanie_sekcja .logowanie_div
{
    position: relative;
    height: 45px;
    width: 280px;
    background-color: var(--drugi-kolor-div);
    border-radius: 3px;
    margin-bottom: 11px;

}

#logowanie_sekcja .logowanie_div i
{
    color: var(--glowny-kolor-napisy);
    position: absolute;
    top: 15px;
    left: 16px;

}

#logowanie_sekcja .logowanie_div input
{
    padding-left: 20px;
    position: absolute;
    right: 0px;
    height: 45px;
    width: 211px;
    background-color: var(--glowny-kolor-div);
    border: none;
    color: #5d636b;
    font-size: 18px;
    font-family: Calibri;
    border-radius: 3px;
}

#logowanie_sekcja input[type="button"]
{
    height: 42px;
    width: 280px;
    background-color: #cad2dd;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    font-family: Calibri;
}

#logowanie_sekcja .logowanie_div input:focus
{
    color: var(--kolor-podswietlenie);
}

#pogoda
{

    width: 280px;
    height: 203px;
    background-color: var(--glowny-kolor-div);
    border-radius: 3px;
    margin-top: 37px;

}
#pogoda #gorna_czesc_pogoda
{
    margin-left: auto;
    margin-right: auto;
    height: 144px;
    width: 230px;
    border-bottom: 1px solid #454d58;

}
#pogoda #gorna_czesc_pogoda #lewa_gorna_pogoda
{
    margin-top: 33px;
    float: left;
    width: 50%;
    color: var(--glowny-kolor-napisy);
    font-size: 14px;
    font-family: Calibri;
    font-style: italic;

}

#pogoda #gorna_czesc_pogoda #lewa_gorna_pogoda #pogoda_miasto
{
    display: block;
    color: #eaedf1;
    font-size: 17px;
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;

}

#pogoda #gorna_czesc_pogoda #prawa_gorna_pogoda
{
    margin-top: 24px;
    float: left;
    width: 50%;
    text-align: center;
    color: var(--glowny-kolor-tla);
    font-family: Calibri;
    font-size: 22px;

}


#pogoda #dolna_czesc_pogoda
{
    position: relative;
    padding-top: 21px;
    margin-left: auto;
    margin-right: auto;
    height: 21px;
    width: 228px;
    font-family: Calibri;
    font-size: 14px;
    color: var(--glowny-kolor-tla);
}

#pogoda #dolna_czesc_pogoda #szukanie_miasto
{
    position: absolute;
    right: 0px;
    top: 12px;
    padding-top: 9px;
    padding-left: 14px;
    width: 175px;
    height: 21px;
    border-radius: 3px;
    background-color: var(--drugi-kolor-div);
    float: right;
    font-size: 12px;
    color: var(--glowny-kolor-napisy);

}

#pogoda #dolna_czesc_pogoda #szukanie_miasto input
{
    border: none;
    background-color: var(--drugi-kolor-div);
    float: right;
    width: 150px;
    font-size: 12px;

}
video
{

    width: 421px;
    height: 296px;
    background-color: var(--glowny-kolor-div);
    border-radius: 3px;

}

#karuzela
{
    width: 421px;
    height: 203px;
    background-color: var(--glowny-kolor-div);
    border-radius: 3px;
    margin-top: 33px;
}

#karuzela .przedmiot_w_karuzeli
{
    height: 134px;
    width: 174px;
    background-color: #cad2dd;
    float: left;
    margin-top: 22px;
    margin-left: 23px;
    border-radius: 3px;
    position: relative;
}

#karuzela .przedmiot_w_karuzeli .cena_przedmiotu_w_karuzeli
{
    background-color: var(--glowny-kolor-div);
    position: absolute;
    color: var(--glowny-kolor-tla);
    width: 39px;
    height: 39px;
    left: 12px;
    bottom: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
}

#karuzela .przedmiot_w_karuzeli .cena_przedmiotu_w_karuzeli .cena_przedmiotu_w_karuzeli_span
{
    display: block;
    margin-top: 10px;
}

#karuzela .przedmiot_w_karuzeli .sterowanie
{
    height: 5px;
    width: ;
}

#karuzela .przedmiot_w_karuzeli .sterowanie:hover
{

}

footer
{
    margin-top: 47px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--glowny-kolor-div);
    width: 758px;
    height: 54px;
    border-radius: 3px;
    text-align: center;
    color: var(--glowny-kolor-napisy);

}
